node_modules
docs/.vitepress/dist
docs/.vitepress/cache
docs/api
docs/public/demo/playground
docs/public/demo/simple-app
docs/public/js/viewer.css
docs/public/js/viewer.umd.js
docs/public/js/vtk.umd.js
examples/cpp/vtk
examples/cpp/*/build
dist
scripts/__pycache__
types/generated.d.ts
